/* 
1. static
2. relative
3. fixed
4. absolute
5. sticky
*/


/* Position :Static */
/* p {
    position: static;
} */

div {
    height: 200px;
    width: 200px;
    background-color: aqua;
    border: 1px solid black;
    display: inline-block;
}

.wrapper {
    background-color: yellow;
    width: 100vw;
    height: 200vh;
}

/* Position : Realtive */
#box3 {
    position: relative;
    top: 100px;
    left: 100px;
}

/* Position : Fixed */
#box4 {
    position: fixed;
    /* top: 300px; */
}

/* Position : Absolute */
#box2 {
    position: absolute;
    top: 10px;
    left: 0px;
}

/* Position : Sticky */
/* 
    Sticky = Fixed + Absolute 
*/
#box1 {
    position: sticky;
    top: 300px;
}

.wrapper {
    position: relative;
    top: 200px;

}